# Update .gitignore
echo dataset/ >> .gitignore
echo data/ >> .gitignore
echo models/ >> .gitignore
echo models_backup/ >> .gitignore
echo venv/ >> .gitignore
echo *.h5 >> .gitignore
echo *.pkl >> .gitignore
echo *.jpg >> .gitignore
echo *.jpeg >> .gitignore
echo *.png >> .gitignore